body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.no-scrollbar::-webkit-scrollbar{
  display: none;
  scroll-padding: 5px;
}
.svg-style{
  position: absolute;
  top:40px;
  z-index: -3;
  height:14em;
  width:100%;
  transform: scale(1.5,3);
}

.scale-down:active{
  transform: scale(.95);
}

.post-content{
  display: -webkit-box;
  overflow: hidden;
  text-align: left;
  padding:4px;
  max-height: 80px;
  text-overflow: ellipsis;
}
